<% provide :title, t(".title") %>
<div class="container content">
  <%= render "shared/button_action", user: current_user %>
  <hr class="colorgraph clear">
  <div class="row clear ">
    <%= render "shared/filter_form" %>
  </div>
  <% if @words.any? %>
    <%= render "all_word" %>
  <% end %>
</div>
